##
## Copyright (c) 2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
##
## NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
## property and proprietary rights in and to this material, related
## documentation and any modifications thereto. Any use, reproduction,
## disclosure or distribution of this material and related documentation
## without an express license agreement from NVIDIA CORPORATION or
## its affiliates is strictly prohibited.
##

robot_cfg:
  kinematics:
    use_usd_kinematics: False
    urdf_path: "robot/ur_description/dual_ur5e_gripper.urdf"
    asset_root_path: ""
    isaac_usd_path: ""
    usd_robot_root: "/ur5"
    usd_path: ""
    base_link: "base_fixture_link"
    ee_link: "dummy_center_indicator_link"
    link_names: [ "tool1", "dummy_center_indicator_link"] 
    collision_link_names: [
      'shoulder_link','upper_arm_link', 'forearm_link', 'wrist_1_link', 'wrist_2_link' ,'wrist_3_link', 'tool0',
      'shoulder_link_1','upper_arm_link_1', 'forearm_link_1', 'wrist_1_link_1', 'wrist_2_link_1' ,'wrist_3_link_1', 'tool1',
      'robotiq_arg2f_base_link',
      'left_outer_knuckle',
      'left_inner_knuckle',
      'left_outer_finger',
      'left_inner_finger',
      'left_inner_finger_pad',
      'right_outer_knuckle',
      'right_inner_knuckle',
      'right_outer_finger' ,
      'right_inner_finger',
      'right_inner_finger_pad',
      ]
    collision_spheres: 'spheres/dual_ur5e_gripper.yml'
    collision_sphere_buffer: 0.005


    self_collision_ignore: {
      # "upper_arm_link": ["shoulder_link","forearm_link"],
      # "forarm_link": ["wrist_1_link"],
      # "wrist_1_link": ["wrist_2_link","wrist_3_link"],
      # "wrist_2_link": ["wrist_3_link", "tool0"],
      # "wrist_3_link": ["tool0"],

      # "upper_arm_link_1": ["shoulder_link_1","forearm_link_1"],
      # "forarm_link_1": ["wrist_1_link_1"],
      # "wrist_1_link_1": ["wrist_2_link_1","wrist_3_link_1"],
      # "wrist_2_link_1": ["wrist_3_link_1", "tool1"],
      # "wrist_3_link_1": ["tool1"],
    
      "shoulder_link": ['upper_arm_link'],
      "upper_arm_link": ['forearm_link'],
      "forearm_link": ['wrist_1_link', 'wrist_2_link' ,'wrist_3_link'],
      "wrist_1_link": ["wrist_2_link","wrist_3_link","tool0", "robotiq_arg2f_base_link"],
      "wrist_2_link": ["wrist_3_link", "tool0",  "robotiq_arg2f_base_link"],
      "wrist_3_link": ["tool0", "robotiq_arg2f_base_link"],

      "tool0": ['robotiq_arg2f_base_link', 'left_outer_finger', 'left_inner_finger_pad',
      'left_inner_knuckle', 'left_inner_finger', 'left_outer_knuckle',
      'right_outer_finger', 'right_inner_finger_pad',
      'right_inner_knuckle', 'right_inner_finger', 'right_outer_knuckle'],

      "robotiq_arg2f_base_link": ['left_outer_finger', 'left_inner_finger_pad',
      'left_inner_knuckle', 'left_inner_finger', 'left_outer_knuckle',
      'right_outer_finger', 'right_inner_finger_pad',
      'right_inner_knuckle', 'right_inner_finger', 'right_outer_knuckle'],

      "left_outer_finger": ['left_inner_finger_pad',
      'left_inner_knuckle', 'left_inner_finger', 'left_outer_knuckle',
      'right_outer_finger', 'right_inner_finger_pad',
      'right_inner_knuckle', 'right_inner_finger', 'right_outer_knuckle'],

      "left_inner_finger_pad": [
      'left_inner_knuckle', 'left_inner_finger', 'left_outer_knuckle',
      'right_outer_finger', 'right_inner_finger_pad',
      'right_inner_knuckle', 'right_inner_finger', 'right_outer_knuckle'],

      "left_inner_knuckle": ['left_inner_finger', 'left_outer_knuckle',
      'right_outer_finger', 'right_inner_finger_pad',
      'right_inner_knuckle', 'right_inner_finger', 'right_outer_knuckle'],

      "left_inner_finger": ['left_outer_knuckle',
      'right_outer_finger', 'right_inner_finger_pad',
      'right_inner_knuckle', 'right_inner_finger', 'right_outer_knuckle'],

      "left_outer_knuckle": [
      'right_outer_finger', 'right_inner_finger_pad',
      'right_inner_knuckle', 'right_inner_finger', 'right_outer_knuckle'],



      "right_outer_finger": ['right_inner_finger_pad',
      'right_inner_knuckle', 'right_inner_finger', 'right_outer_knuckle'],

      "right_inner_finger_pad": [
      'right_inner_knuckle', 'right_inner_finger', 'right_outer_knuckle'],

      "right_inner_knuckle": [ 'right_inner_finger', 'right_outer_knuckle'],

      "right_inner_finger": [ 'right_outer_knuckle'],


      
      "shoulder_link_1": ['upper_arm_link_1'],
      "upper_arm_link_1": ['forearm_link_1'],
      "forearm_link_1": ['wrist_1_link_1', 'wrist_2_link_1' ,'wrist_3_link_1'],
      "wrist_1_link_1": ['wrist_2_link_1' ,'wrist_3_link_1'],
      "wrist_2_link_1": [ 'wrist_3_link_1'],
      "wrist_3_link_1": [ 'tool1'],

      }
    self_collision_buffer: {
      'shoulder_link': 0.05,
      'shoulder_link_1': 0.05,
       }
    lock_joints: {'finger_joint': 0.0,
                  'right_outer_knuckle_joint': -0.0,
                  'left_inner_knuckle_joint': -0.0,
                  'left_inner_finger_joint': 0.0,
                  'right_inner_knuckle_joint': -0.0,
                  'right_inner_finger_joint': 0.0,
                  }

    cspace:
      joint_names: [
        'shoulder_pan_joint', 'shoulder_lift_joint', 'elbow_joint', 'wrist_1_joint', 'wrist_2_joint', 'wrist_3_joint',
        'finger_joint', 
        # mimic joints
        'right_outer_knuckle_joint', # symmetric to finger_joint # multiplier: -1
        'left_inner_knuckle_joint', # multiplier: -1
        'left_inner_finger_joint', # multiplier: 1
        'right_inner_knuckle_joint', # multiplier: -1
        'right_inner_finger_joint', # multiplier: 1
        'shoulder_pan_joint_1', 'shoulder_lift_joint_1', 'elbow_joint_1', 'wrist_1_joint_1', 'wrist_2_joint_1', 'wrist_3_joint_1']
      retract_config: [0, -2.2, 1.9, -1.383, -1.57, 0.00, 
                        0.0, # finger_joint
                        -0.0, # right_outer_knuckle_joint
                        -0.0, # left_inner_knuckle_joint
                        0.0, # left_inner_finger_joint
                        -0.0, # right_inner_knuckle_joint
                        0.0, # right_inner_finger_joint
                      -3.14, -2.2, 1.9, -1.383, -1.57, 0.00]
      null_space_weight: [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 
                          # mimic joints
                          1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
                          1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
      cspace_distance_weight: [0.5, 0.5, 0.5, 1.0, 1.0, 1.0,
                            # mimic joints
                            1.0, 1.0, 1.0, 1.0, 1.0, 1.0,
                              0.5, 0.5, 0.5, 1.0, 1.0, 1.0]
                              
      max_jerk: 500.0
      max_acceleration: 15.0
