gripper_cfg:
  gripper_joint_names: [
    'finger_joint', 
    # mimic joints
    'right_outer_knuckle_joint', # symmetric to finger_joint # multiplier: 1
    'left_inner_knuckle_joint', # multiplier: 1
    'left_inner_finger_joint', # multiplier: -1
    'right_inner_knuckle_joint', # multiplier: 1
    'right_inner_finger_joint', # multiplier: -1
    'finger_joint_1',
    # mimic joints
    'right_outer_knuckle_joint_1', # symmetric to finger_joint # multiplier: 1
    'left_inner_knuckle_joint_1', # multiplier: 1
    'left_inner_finger_joint_1', # multiplier: -1
    'right_inner_knuckle_joint_1', # multiplier: 1
    'right_inner_finger_joint_1', # multiplier: -1
  ]
  multiplier: [1, 1, 1, -1, 1, -1, 1, 1, 1, -1, 1, -1]
  mimic_joints:
    finger_joint: 
      joint_names: [
        'right_outer_knuckle_joint', 
        'left_inner_knuckle_joint', 
        'left_inner_finger_joint', 
        'right_inner_knuckle_joint', 
        'right_inner_finger_joint'
      ]
      multiplier: [1, 1, -1, 1, -1]
    finger_joint_1: 
      joint_names: [
        'right_outer_knuckle_joint_1', 
        'left_inner_knuckle_joint_1', 
        'left_inner_finger_joint_1', 
        'right_inner_knuckle_joint_1', 
        'right_inner_finger_joint_1'
      ]
      multiplier: [1, 1, -1, 1, -1]

  grasp_orientation:
    dummy_center_indicator_link_1: [0, 0.707, 0.707, 0]
    dummy_center_indicator_link: [0, -0.707, 0.707, 0]